@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: Poppins, system-ui, sans-serif, "Benton Sans", "Helvetica Neue", helvetica, arial;
  margin: 2em;
  background-repeat: no-repeat;
  background-size: cover;
  --footer-height: 70px;
}

h1 {
  font-style: italic;
  color: #373fff;
}

#nyc{
  width:80px;
  height:80px;
}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
  display: none;
}

footer.page-footer {
  height: var(--footer-height);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}

.pic {
  height: 300px !important;
  width: 300px !important;
  transform: translate(-50px, -50px);
}

.card-title {
  background-color: #0005;
  padding: 10px 20px;
  line-height: 1.2;
  margin: 0; 
  width: 100%;
  position: absolute;
  bottom: 0; 
  left: 0; 
  color: white; 
  font-size: 20px !important; 
  text-align: center; 
}

.card-content {
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-action {
  padding: 10px;
  text-align: center;
}

.card-action a {
  color: orange;
  text-transform: uppercase;
}

.card {
  width: 400px; 
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-image {
  height: 200px; 
  width: auto; 
  object-fit: cover; 
  overflow: hidden;
  position: relative; 
}

footer {
  display: flex !important;
  align-items: center;
  background-color: #ee6e73;
  padding: 0 max(5vw, 5px) !important;
}

footer a {
  color: black;
}

nav a {
  color: black !important;
}

.Fb {
  height: 30px;
  width: 30px;
  margin: 0px 10px;
}

h3 {
  color: red;
  font-size: 200px;
}



.search-bar {
  position: relative;
}

.search-bar .icon {
  position: absolute;
  top: 47%;
  left: 10px;
  transform: translateY(-50%);
}

.search-bar .input-text {
  width: 0px;
  border: 0px;
  background-color: #fff;
  height: 20px;
  padding: 8px 8px 8px 35px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
.search-bar .input-text:focus {
  width: 80%;
  background-color: #ccc;
}

#search {
  background-color: white;
  width: min(95vw, 700px);
  margin: auto;
  border: 1px solid #727272 !important;
  border-radius: 20px !important;
  text-indent: 43px;
}

#nav-title {
  position: relative;
  left: 2em;
  bottom: 1.2em;
  color: black;
  font-size: 30px;
}

@media (max-width: 600px) {
  #nav-title {
    font-size: min(25px, 6vw);
    left: 0;
  }
  .brand-logo {
    left: 30px !important;
  }
  #nyc {
    width: 64px;
    height: 64px;
  }
}